<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
